backend.dobercorgi.info {
  reverse_proxy dobercorgi_backend
}

analytics.lewis.coffee {
  reverse_proxy analytics:3003
}

dobercorgi.info {
  reverse_proxy dobercorgi:5000
}

long-dair.com {
  root * /long-dair-html
  file_server
}
